<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="TeamworkDBContext" connectionString="data source=(local);Initial Catalog=Teamwork_db;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ep1" />
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsEndpointPM" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:3021/FileSharingService/ep1"
        binding="netTcpBinding" bindingConfiguration="ep1" contract="FileSharingService.IService"
        name="ep1">
        <identity>
          <userPrincipalName value="Jo-PC\Jo" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8734/ServiceProgramMessenger/ws"
        binding="wsDualHttpBinding" bindingConfiguration="wsEndpointPM"
        contract="ServiceProgramMessenge.IServiceProgramMessenger" name="wsEndpointPM">
        <identity>
          <userPrincipalName value="Maxim\MAX" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SavedLocation" value="..\..\..\Files\"/>
    <add key="SavedLocationTemp" value="..\..\..\FilesTemp\"/>
  </appSettings>
</configuration>
